@font-face {
  font-weight: 400;
  font-family: Neucha;
  font-style: normal;
  src:
    local(neucha),
    url("../assets/fonts/neucha/Neucha.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;
  src:
    local("Open Sans"),
    url("../assets/fonts/Open_Sans/OpenSans.ttf");
}

:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --gray: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--light);
}

html {
  color: var(--dark);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  font-family: Neucha, sans-serif;
  font-style: normal;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

a {
  color: inherit;
  text-decoration: none;
}

.conteiner {
  min-width: 700px;
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

.flex-box {
  display: flex;
  justify-content: space-between;
}

/* BTN */

.btn {
  display: inline-block;
  padding: 0.4rem 0.7rem;

  border: 1px solid var(--primary);
  border-radius: 0;

  text-decoration: none;
}

.btn-blue:hover {
  background-color: var(--blue);
  color: white;
}

.btn-primary {
  background-color: var(--primary);
  color: white;
  border-color: var(--primary);
}

.btn-lg {
  font-size: 1.25rem;
  padding: 0.5rem 1rem;
}

.mg-0 {
  margin: 0;
}

.mg-t-40 {
  margin-top: 40px;
}

.mg-b-250 {
  margin-bottom: 250px;
}

.color-primary {
  color: var(--primary);
}

.img-main {
  position: relative;

  right: -275px;

  margin-top: -555px;
  padding: 0;
}

.bg-img {
  position: relative;
}

.bg-img::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
z-index: -1;
  content: "";
}

.width-540 {
  width: 540px;
}
