:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --gray: #908d8b;
  --very-light-gray: #e3e3e3;
  --brown: #b09a81;
  --blue: #1085c5;
  --hex-sonic-silver: #757575;
}

@font-face {
  font-weight: 400;
  font-family: neucha;
  font-style: normal;
  src:
    local(neucha),
    url("../assets/fonts/neucha/Neucha.ttf");
}

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;
  src:
    local("Open Sans"),
    url("../assets/fonts/Open_Sans/OpenSans.ttf");
}

* {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;

  background-color: var(--light);
}

html {
  color: var(--dark);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  font-family: Neucha, sans-serif;
  font-style: normal;
  line-height: 1.2em;
}

/* ###################################### */

/* font-family */

.f-neucha {
  font-family: neucha, sans-serif;
}

.f-open-sans {
  font-family: "Open Sans", sans-serif;
}

/* ############################## */

/* font */

/* h1 */

.fs-72 {
  font-size: 72px;
}

.fs-64 {
  font-size: 64px;
}

/* h2 */

.fs-60 {
  font-size: 60px;
}

.fs-52 {
  font-size: 52px;
}

/* h3 */

.fs-34 {
  font-size: 34px;
}

.fs-24 {
  font-size: 24px;
}

.fs-14 {
  font-size: 14px;
}

.f-style-n {
  font-style: normal;
}

.f-weight-400 {
  font-weight: 400;
}

.f-weight-700 {
  font-weight: 700;
}

.l-height-26 {
  line-height: 26px;
}

.l-height-29 {
  line-height: 29px;
}

.l-height-72 {
  line-height: 72px;
}

.l-height-41 {
  line-height: 41px;
}

.l-height-120 {
  line-height: 120%;
}

.l-height-160 {
  line-height: 160%;
}

.t-list-transform {
  text-transform: uppercase;
}

/* ########################## */

a {
  color: inherit;
  text-decoration: none;
}

.p-list a {
  text-decoration: underline;
}

.conteiner {
  min-width: 700px;
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
}

.conteiner-footer {
  min-width: 700px;
  max-width: 1110px;
  margin: 100px auto 76px;
}

.flex-box {
  display: flex;
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* BTN */

.btn {
  display: inline-block;
  padding: 0.4rem 0.7rem;

  text-decoration: none;

  border: 1px solid var(--primary);

  border-radius: 0;
}

.btn-blue:hover {
  color: white;

  background-color: var(--blue);
}

.btn-color {
  color: white;

  background-color: var(--primary);

  border-color: var(--primary);
}

.btn-footer {
  position: relative;
  top: 0;
  left: 425px;

  width: 70px;
  height: 50px;

  background-color: var(--primary);

  border: 1px solid var(--primary);
}

/* ###################################### */

/* margin */

.mg-0 {
  margin: 0;
}

.mg-t-35 {
  margin-top: 35px;
}

.mg-t-100 {
  margin-top: 100px;
}

.mb-b-12 {
  margin-bottom: 12px;
}

.mg-b-16 {
  margin-bottom: 16px;
}

.mg-b-20 {
  margin-bottom: 20px;
}

.mg-b-30 {
  margin-bottom: 30px;
}

.mg-b-76 {
  margin-bottom: 76px;
}

.mg-b-250 {
  margin-bottom: 250px;
}

.mg-left-15 {
  margin-left: 15px;
}

.mg-right-15 {
  margin-right: 15px;
}

.mg-left-30 {
  margin-left: 30px;
}

.mg-right-30 {
  margin-right: 30px;
}

/* ########################################## */

/* padding  */

.pg-0 {
  padding: 0;
}

.pg-5-10 {
  padding: 5px 10px;
}

.pg-24 {
  padding: 24px;
}

.pg-t-55 {
  padding-top: 55px;
}

.pg-b-10 {
  padding-bottom: 10px;
}

.pg-b-55 {
  padding-bottom: 55px;
}

.pg-l-55 {
  padding-left: 55px;
}

.pg-r-122 {
  padding-right: 122px;
}

/* ###################################### */

/* color */

.color-white {
  color: var(--white);
}

.color-primary {
  color: var(--primary);
}

.color-gray {
  color: var(--gray);
}

.color-brown {
  color: var(--brown);
}

.color-blue {
  color: var(--blue);
}

.color-translucent-white {
  color: var(--translucent-white);
}

/* #################################### */

/* background-color */

.bg-brown {
  background-color: var(--brown);
}

.bg-white {
  background-color: var(--white);
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}

.bg-blue {
  background-color: var(--blue);
}

/* ###################################### */

.img-main {
  position: relative;

  right: -275px;

  margin-top: -555px;
  padding: 0;
}

.bg-img {
  position: relative;
}

.z-backgraund {
  z-index: -2;

  background-color: var(--brown);
}

.bg-img::before {
  position: absolute;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-image: url("../assets/images/background.png");

  background-repeat: no-repeat;

  background-size: cover;
  opacity: 0.5;

  content: "";
}

.width-350 {
  width: 350px;
}

.width-540 {
  width: 540px;
}

.height-323 {
  height: 323px;
}

.height-348 {
  height: 348px;
}

.t-center {
  text-align: center;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.block-video {
  position: relative;
  top: 200px;
  left: 100px;

  margin-top: -200px;
}

.list-p {
  width: 184px;
  height: 22px;

  margin: 38px 356px 9px 0;
  padding: 0;

  font-size: 18px;

  line-height: 160%;
}

.input-list {
  position: absolute;

  width: 423px;
  height: 50px;
  margin: 0;

  padding: 17px 239px 18px 15px;

  color: var(--hex-sonic-silver);

  font-size: 13.1px;
  line-height: 160%;

  background-color: var(--white);

  border: 1px solid var(--very-light-gray);
}

.p-list {
  color: var(--white);
  font-size: 12px;
  line-height: 160%;
}
